*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #ededed;
}

@media(max-width: 600px) {
  .MuiPaper-root {
    margin:  10px!important;
    padding: 2rem!important;
  }
  .MuiGrid-root {
    width: 100%!important;
  }
}

@media(max-width: 400px) {
  .MuiPaper-root {
    margin:  10px!important;
    padding: 1.4rem!important;
  }
  .MuiGrid-root {
    width: 100%!important;
  }
}


.MuiGrid-root::-webkit-scrollbar{
  width: 5px;
  background-color: #dadada;
}

.MuiGrid-root::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: #0009b9;
  border-radius: 12px;
}